@font-face {
    font-family: "futura";
    src: url(./Futura-Bold.ttf);
}

@font-face {
    font-family: "gilroy";
    src: url(./Gilroy-Medium.ttf);
}

/* defalut styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    background-color: transparent;
    border: none;
    font-family: gilroy;
    text-transform: uppercase;
}

h1 {
    letter-spacing: -0.1vw;
    margin-top: 2vw;
    font-size: 4.1vw;
    text-transform: uppercase;
    font-family: futura;
}

p {
    font-family: gilroy;
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
}

a {
    font-size: 10px;
    letter-spacing: 1px;
    font-family: gilroy;
}

/* main styling */

main {
    width: 100%;
}

nav {
    width: 100%;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-right {
    width: 46%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    font-family: gilroy;
    font-weight: 200;
    padding: 0 12px;
    padding-top: 2px;
    font-size: 13px;
    text-transform: uppercase;
}

.page1-hero {
    margin-top: 6vw;
    padding-left: 1.5vw;
    padding-right: 0;
}

.page1-hero h1 {
    font-family: futura;
    font-size: 16.3vw;
    white-space: nowrap;
    text-transform: uppercase;
    line-height: 14vw;
    overflow: hidden;
    letter-spacing: -0.8vw;

}

.page1-video {
    margin-top: 1.5vw;
    width: 100%;
    overflow: hidden;
    padding: 0 1.5vw;
}

.page1-video video {
    width: 100%;
}

.page2 {
    padding: 0 1.5vw;
}

.page2-content {
    width: 100%;
    height: 28.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page2-content h1 {
    letter-spacing: -0.1vw;
    margin-top: 2vw;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: futura;
}

.page2-content p,
.page2-content a {
    margin-top: 1.5vw;
    font-family: gilroy;
    font-size: 13px;
    font-weight: 200;
}

.page2-content a {
    text-transform: uppercase;
    font-size: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.page2-content a svg {
    margin-left: 5px;
}

.line {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.line p {
    font-family: gilroy;
    font-size: 13px;
    font-weight: 200;
    text-transform: uppercase;
}

.page2-images {
    display: flex;
    gap: 1.5vw;
    margin-top: 1vw;
}

.page3 {
    padding: 0 1.5vw;
}

.page3-content {
    display: flex;
    padding-top: 4vw;
    height: 90vh;
    width: 100%;
}

.page3-content-left {
    width: 50%;
}

.page3-content-left h1 {
    white-space: nowrap;
    line-height: 4.1vw;
    letter-spacing: 0;
}

.page3-content-right {
    padding-top: 1.5vw;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 50%;
}

.page3-content-right p {
    font-size: 16px;
    text-transform: none;
    width: 60%;
    line-height: 25px;
    margin-left: 7vw;
}

.page3-content-right div {
    margin-left: 7vw;

    a {
        text-transform: uppercase;
        border-bottom: 1px solid black;
        padding-bottom: 10px;
    }
}

.page4 {
    padding: 0 1.5vw;
}

.page4-images-container {
    padding: 0 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    width: 100%;
}

.page4-images-container .card {
    padding: 4vw;
}

.page4-images-container .card p {
    text-align: center;
}

.page4-line {
    margin-top: 14vw;
}

.page4-slider {
    width: 100%;
    padding: 0 2vw;
    padding-top: 2vw;
    overflow-x: auto;
    display: flex;
    gap: 4vw;
}

.page4-slider::-webkit-scrollbar {
    display: none;
}

.page4-btn-container {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-end;
}

.page4-circle-container {
    width: 100%;

    .page4-circle {
        width: 15px;
        height: 15px;
        border: 1px solid black;
        border-radius: 50%;
    }
}

.page4-btn-text h3 {
    font-family: gilroy;
    font-weight: 500;
    font-size: 20px;
}

.page4-content-wrapper {
    min-height: 150vh;
    display: flex;
    justify-content: center;
}

.page4-content {
    padding: 8vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}

.page4-content h1 {
    font-size: 5.5vw;
    line-height: 5vw;
    text-align: center;
}

.page4-content button {
    background-color: black;
    border-radius: 3vw;
    padding: 1.5vw 5.5vw;
    color: #fff;
    font-size: 1.2vw;
    font-weight: 500;
    margin-top: 4vw;
}

.page4-content p {
    font-size: 16px;
    text-transform: none;
}

.page5 {
    display: flex;
    height: 100vh;
    padding: 0.5vw 1.5vw;
}

.page5-left {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 3vw;
}

.page5-left h1 {
    font-size: 2vw;
    margin-top: 0;
}

.page5-left-text {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 60%;
}

.page5-left-text p {
    text-transform: none;
    font-size: 16px;
}

.page5-right {
    width: 60%;
    display: flex;
    gap: 1.5vw;
}

.page5-right-image {
    width: 50%;
}

.page5-btn a {
    font-size: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.page6 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8vw 1.5vw;
    padding-bottom: 5vw;
}

.page6-input input {
    width: 100%;
    height: 4vw;
    font-size: 3vw;
    border: 0;
    outline: none;
    border-bottom: 1px solid black;
}

.page6-input input:focus::placeholder {
    color: white;
}

.page6-input input::placeholder {
    font-size: 3vw;
    font-family: futura;
    text-transform: uppercase;
    color: black;
}

.page6-content {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-top: 18vw;
}

.page6-content-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.page6-content-main-left {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    height: 16vw;
}

.page6-social-links {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;

    a {
        font-size: 14px;
        letter-spacing: -0.2px;
    }
}

.page6-content-main-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.page6-content-main-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5vw;
    height: 16vw;
}

.page6-right-link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.4vw;

    a {
        font-size: 14px;
        letter-spacing: -0.2px;
    }
}

.page6-copyright {
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    gap: 2vw;
}

.page6-para {
    display: flex;
    justify-content: center;

    p {
        font-size: 14px;
        text-align: center;
        text-transform: none;
        width: 60%;
        font-weight: 100;
    }
}